.Buttonnav{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 24px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
}
.Buttonherotransparent{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 10px 24px;
    border-radius: 100px;
    border: white, 1px,solid;
    font-size: 16px;
}
.Buttonlisting{
    background-color: rgba(255, 255, 255, 0);
    border: black 1px solid;
    font-size: 16px;
    border-radius: 100px;
    padding: 10px 24px;
}
.Buttonnav{
    background-color: #703BF7;
    color: white;
}
.Buttonfooter{
    background-color: #703BF7;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;

}
.Buttonhero{
    background-color: #703BF7;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    width: 200px;

}
