* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.hero{
    background-color: #1a1a1a;
    width: 100%;
    padding-left: 100px;
    padding-right: 80px;
    height: 60vh;
    display: flex;

}

   

.heroTextCtn{
    /* padding-top: 50px; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;


}
.heroTextCtn h2{
    font-size: 40px;
    color: white;
    width: 80%;
}
.heroTextCtn p{
    margin-top: 20px;
    color: #999999;
    font-size: 15px;
    margin-bottom: 20px;

}
.heroImgCtn{
    width: 50%;
    height: 100%;
    /* display: inline-block; */
    position: relative;
}






.descCtn{
    display: flex;
    gap: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.description{
    width: 100%;
}
.description > h2{
    width: max-content;
    font-weight: 400;
    font-size: 40px;
    margin: 0 auto 70px auto;
}

.listing{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top:150px;
    background-color: #141414;
    padding-left: 100px;
    padding-right: 80px;
    /* margin-top: 200px; */
    width: 100%;
}
.listing h2{
    width: 100%;
    color: white;
    font-size: 40px;
    /* margin-bottom: 70px; */
}
.listing p{
    color: white;
}
.listingCtn{
    display: flex;
    gap: 5%;
    
    /* border: 2px solid black; */
}
.listing a {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.testimonials{
    background-color: #141414;
    
    width: 100%;
    padding-left: 100px;
    padding-right: 80px;
}
.testimonialsCtn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
    width: 100%;
    
    
}
/* .testimonialsTextCtn{
    margin: 0 auto;
    width: max-content;
} */
.testimonialsTextCtn h2{
    font-size: 40px;
    margin-bottom: 50px;
    color: white;
}
.testimonialsTextCtn p{
    margin-bottom: 70px;
    color: white;
}
